
@import url(https://fonts.googleapis.com/css?family=Raleway:800,400);





.appointment-summary {
  width: 25%;
  /* border: 1px solid #ccc; */
  padding: 0px;
  padding-top:0px;
  text-align: center;
  flex:2;
  flex-wrap:wrap;
}
.body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding-top: 120px;
}
.booking-container{
  flex:1;
  display: flex;
  justify-content: space-between;
}

.book_now{
     padding-left: 1600px;
     margin-bottom: 200px;
}
.bookPage{
  padding:80px;
  flex:1;
}
.bottom_l{
  height:auto;
  font-size:16px;
  padding: 15px 32px;
  padding-bottom: 10px;
  border: none;
  display:flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgb(254,252,237);
  z-index: 10;
}
.category{
  background-color: rgb(254,252,237); /* Background color */
  display: flex;
  align-items: center; /* Align text to the left */
  justify-content: space-around;
 
}
.contact{
  padding-top: 230px;
  padding-bottom: 10px;
  color:green;
  background-color: pink;
  text-align: center;
}
.contact_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contact_info {
  flex: 1; /* Takes up half the space of the container */
  padding-right: 20px; /* Adds some spacing between the text and map */
  text-align: center;
}
.contact_page{
  padding-bottom: 0px;
  z-index: 20;
  align-items: left;
  background-color: pink;
}
.employee{
  font-size: 0.8rem;
  font-weight: 400;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif; /* Change to your desired font */
  text-decoration: none; /* Removes underline */
  color: black; /* Sets the text color; change as needed */
  /* To prevent color change on click (visited link) */
  &:visited {
    color: black;
  }
}
.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 40px auto;
  
  
 

}
.gallery{
  padding-top: 320px;
  text-align: center;
  background-color: pink;
  z-index: 20;
}

.header{
  padding-left: 800px;
  
}

.headeres {
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;          
  width: 100%;     /* Full width */
  height: 130px;
  background-color: rgb(254,252,237); /* Background color */
  display: flex;
  align-items: center; /* Align text to the left */
  justify-content: space-around;
  z-index: 30;
  /* box-shadow: 0px 2px 5px rgba(0,0,0,0.2); Optional: adds a shadow for better visibility */

}
.headeres a {
  margin: 10px; /* Spacing around buttons */
  padding: 30px; /* Padding inside buttons */

}
.iframe-container {
  flex:1;
  position: relative;
  overflow: hidden;
  padding-top: 50%; /* 16:9 Aspect Ratio */
  padding-right: 20%;
  /* margin-bottom: 0px; Optional spacing */
  z-index: 20;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 10px; /* Space between images */
  max-width: 45%; /* Width of the entire grid */
  margin: 50px auto; /* Centers the grid horizontally with top and bottom margin */
}

.image-grid img {
  width: 100%; /* Full width of the grid cell */
  height: auto; /* Maintain aspect ratio */
}
.input {
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.input:hover {
  background: #0056b3;
}
.label {
  margin-bottom: 5px;
}
.logo {
  position: relative;
  left: 130px;
  width: auto;
  height: 100%;
}
.logo img{
  width:auto;
  height:100%
}


.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menu{
  background-color: pink;
  text-align: center;
  padding-top: 360px;
  padding-bottom: 250px;
  z-index: 20;
}

.menu_button {
  border-radius: 20px; /* Adjust for rounded corners */
  background-color: pink; /* White background */
  color: black; /* Text color */
  padding: 6px 40px; /* Padding around the text */
  text-align: center; /* Center the text */
  text-decoration: none; /* No underline for link text */
  display: inline-block; /* Allows setting of width and height */
  font-size: 20px; /* Font size */
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Formal font, can change to other fonts like 'Times New Roman', etc. */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  z-index: 20;
}
.menu_button:hover {
  background-color: rgba(216, 89, 50, 0.119); 
  /* Slightly different background on hover for visual feedback */
}
.nav-link {
  font-size: 0.8rem;
  font-weight: 400;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif; /* Change to your desired font */
  text-decoration: none; /* Removes underline */
  color: black; /* Sets the text color; change as needed */
  /* To prevent color change on click (visited link) */
  &:visited {
    color: black;
  }
}
.pic{
  padding-left: 450px;
}

selected-service {
  margin-bottom: 10px;
}


















































.body {
	margin: 0;
	top: 0;
	background: #B2EBF2;
}



h3 {
	color: #fff;
	font-family: Raleway, Helvetica, sans-serif;
	font-size: 2rem;
	font-weight: 400;
  margin-bottom: 45px;

}

p {
	color: #00BCD4;
	font-family: Raleway, Helvetica, sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
}

.button {
	position: relative;
	height: 60px;
	width: 200px;
	background: #00BCD4;
	border-radius: 8px;
	/* text-align: center; */
	margin: 200px auto 0 auto;
	cursor: pointer;
	overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}









.submit {
  text-transform: uppercase;
  margin: 14px 0 0 26px;
  font-size: 1.5rem; 
  color: #fff;
  font-family: Raleway, Helvetica, sans-serif;
  line-height: 60px;
  text-align: center;
}

.submit,
.arrow {
	display: inline-block;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.submit {
	text-transform: uppercase;
	margin: 14px 0 0 26px;
}

.arrow {
	position: relative;
	top: -3px;
	opacity: 0;
}

.line {
	height: 3px;
	width: 20px;
	border-radius: 6px;
	background: #fff;
}

.top {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.bottom {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: 10px;
}

.instructions {
	text-align: center;
	margin: 20px auto;
}

.button:active {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
}




.button.active {
	background: #4CAF50;
}

.button.active .submit {
	opacity: 0;
}

.button.active .top {
	width: 34px;
}

.button.active .bottom {
	margin: 14px 0 0 12px;
}



 .mov{
  margin-right: 150px;
  margin-bottom: 170px;
 }




































 .selected-service {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}


 
 




/* .service-item-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Space between service items }*/

.service-item-container {
  position: relative; /* New */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}





.employee-bar-container {
  position: absolute; /* Positioned absolutely */
  right: -210px; /* Adjust this value based on the width of the employee bar */
  top: 0;
  width: 200px; /* Set a fixed width for the employee bar */
  /* Other styles as needed */
  z-index: 1;
}

 /* .employee-bar-container {
  display: flex; 
  flex-grow: 0; 
  flex-shrink: 0; 
  width: 200px; 
  overflow: hidden; 
} */







.service-item-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align children to the start */
}



.service-category {
  margin-bottom: 20px;
  margin-left: 15px;
  border:1px solid #ccc;
  background-attachment: fixed;
  padding: 8px;
  border-radius: 2px;
  border: 1px solid #ccc;
  background-color: white;
  margin-bottom: 20px;
}
.service-category h2{
  padding: 10px;
  margin-top:0;
  margin-bottom: 0;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}

.service-item {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  flex-grow: 1;
  padding-top: 13px;
} 




.service-item:last-child {
  border-bottom: none;
}





.service-item-name {
  /* Add necessary styles here, and ensure it doesn't push the button too far */
  margin-right: 10px; /* Add space between name and button */
}









.service-item button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none; /* No underline */
  display: inline-block; /*Allows setting width and height */
  font-size: 16px;
  margin: 4px, 2px; /*Space around the button */
  cursor: pointer; /*Pointer cursor on hover*/
  border-radius: 4px; /*Rounded corners */
  box-shadow: 0 2px 2px rgba(0,0,0,0.2); /*Adding shadow*/
  transition-duration: 0.4s; /*Smooth transition for moust events */
  
}
.service-item button:hover{
  background-color: #45a049;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform: translateY(-2px);
}
.service-list {
  width: 70%;
}

.submenu {
  display: none; /* Initially hidden */
  position: absolute; /* Adjust as per your layout */
  /* Add more styles for submenu */
}
.timeline {
  padding-top: 30px;
}















.employee-bar {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc; /* Example border */
  padding: 10px;
  border-radius: 5px; /* Rounded corners */
  background-color: #f9f9f9; /* Background color */
  /* Other styles as needed */
}




/* .employee-bar {
  display: flex;
  flex-direction: column;
 
} */

.employee-bar div {
  /* Style for individual employee entries */
  margin-bottom: 10px; /* Space between entries */
}



.employee-entry {
  margin-bottom: 10px; /* Space between entries */
  /* Additional styling for individual entries */
}

















































.gradient-custom {
  /* fallback for old browsers */
  background: #f093fb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
  
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  
  }
  .card-registration .select-arrow {
  top: 13px;
  }